* {
	margin: 0;
	padding: 0;
}

body {
	background: #ffffff;
	display: block;
}
.menu {
    display: flex;
    justify-content: flex-end;
}
.bar-elem {
    width: 15%;
}
.services {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}
.element {
    width: 25%;
}